/* USER PROFILE PAGE */

/*BEGIN TAB*/
 .card {
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 110px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
   /* width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);*/
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 26px;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
/*END TAB*/

/* BEGIN MODEL */
.contain {
    width: 460px;
    height: 590px;
    margin: 0 auto ;
    position: relative;
}
.body{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
}
.bikinitop{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index:1;
    background-size: cover;
}

.bikinibottom{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index:1;
}

.model{
    width:60px;
    height: 77px ;
    position: absolute;
    top: 5%;
    left: 45.5%;
    z-index:1;
}

.feetleft{
    width: 25px;
    height: 41px;
    position: absolute;
    bottom: 6.5%;
    left: 40.4%;
    z-index: 1;
}

.feetright{
    width: 25px;
    height: 41px;
    position: absolute;
    bottom: 6.5%;
    right: 33.3%;
    z-index: 1;
}

/* END MODEL */

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-top: 5px;
    margin-bottom: 5px;
}
